<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.pythe.mapper.TblPayMapper" >
  <resultMap id="BaseResultMap" type="com.pythe.pojo.TblPay" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="date" property="date" jdbcType="TIMESTAMP" />
    <result column="orderNum" property="ordernum" jdbcType="BIGINT" />
    <result column="recordId" property="recordid" jdbcType="VARCHAR" />
    <result column="start_time" property="startTime" jdbcType="TIMESTAMP" />
    <result column="stop_time" property="stopTime" jdbcType="TIMESTAMP" />
    <result column="qrId" property="qrid" jdbcType="BIGINT" />
    <result column="customer_id" property="customerId" jdbcType="BIGINT" />
    <result column="phone_num" property="phoneNum" jdbcType="VARCHAR" />
    <result column="description" property="description" jdbcType="VARCHAR" />
    <result column="type" property="type" jdbcType="INTEGER" />
    <result column="prepay_id" property="prepayId" jdbcType="VARCHAR" />
    <result column="sum" property="sum" jdbcType="DOUBLE" />
    <result column="longitude_start" property="longitudeStart" jdbcType="DOUBLE" />
    <result column="latitude_start" property="latitudeStart" jdbcType="DOUBLE" />
    <result column="longitude_stop" property="longitudeStop" jdbcType="DOUBLE" />
    <result column="latitude_stop" property="latitudeStop" jdbcType="DOUBLE" />
    <result column="bill_id" property="billId" jdbcType="VARCHAR" />
    <result column="car_id" property="carId" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, date, orderNum, recordId, start_time, stop_time, qrId, customer_id, phone_num, 
    description, type, prepay_id, sum, longitude_start, latitude_start, longitude_stop, 
    latitude_stop, bill_id, car_id
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.pythe.pojo.TblPayExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from tbl_pay
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from tbl_pay
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from tbl_pay
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.pythe.pojo.TblPayExample" >
    delete from tbl_pay
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.pythe.pojo.TblPay" >
    insert into tbl_pay (id, date, orderNum, 
      recordId, start_time, stop_time, 
      qrId, customer_id, phone_num, 
      description, type, prepay_id, 
      sum, longitude_start, latitude_start, 
      longitude_stop, latitude_stop, bill_id, 
      car_id)
    values (#{id,jdbcType=BIGINT}, #{date,jdbcType=TIMESTAMP}, #{ordernum,jdbcType=BIGINT}, 
      #{recordid,jdbcType=VARCHAR}, #{startTime,jdbcType=TIMESTAMP}, #{stopTime,jdbcType=TIMESTAMP}, 
      #{qrid,jdbcType=BIGINT}, #{customerId,jdbcType=BIGINT}, #{phoneNum,jdbcType=VARCHAR}, 
      #{description,jdbcType=VARCHAR}, #{type,jdbcType=INTEGER}, #{prepayId,jdbcType=VARCHAR}, 
      #{sum,jdbcType=DOUBLE}, #{longitudeStart,jdbcType=DOUBLE}, #{latitudeStart,jdbcType=DOUBLE}, 
      #{longitudeStop,jdbcType=DOUBLE}, #{latitudeStop,jdbcType=DOUBLE}, #{billId,jdbcType=VARCHAR}, 
      #{carId,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.pythe.pojo.TblPay" >
    insert into tbl_pay
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="date != null" >
        date,
      </if>
      <if test="ordernum != null" >
        orderNum,
      </if>
      <if test="recordid != null" >
        recordId,
      </if>
      <if test="startTime != null" >
        start_time,
      </if>
      <if test="stopTime != null" >
        stop_time,
      </if>
      <if test="qrid != null" >
        qrId,
      </if>
      <if test="customerId != null" >
        customer_id,
      </if>
      <if test="phoneNum != null" >
        phone_num,
      </if>
      <if test="description != null" >
        description,
      </if>
      <if test="type != null" >
        type,
      </if>
      <if test="prepayId != null" >
        prepay_id,
      </if>
      <if test="sum != null" >
        sum,
      </if>
      <if test="longitudeStart != null" >
        longitude_start,
      </if>
      <if test="latitudeStart != null" >
        latitude_start,
      </if>
      <if test="longitudeStop != null" >
        longitude_stop,
      </if>
      <if test="latitudeStop != null" >
        latitude_stop,
      </if>
      <if test="billId != null" >
        bill_id,
      </if>
      <if test="carId != null" >
        car_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="date != null" >
        #{date,jdbcType=TIMESTAMP},
      </if>
      <if test="ordernum != null" >
        #{ordernum,jdbcType=BIGINT},
      </if>
      <if test="recordid != null" >
        #{recordid,jdbcType=VARCHAR},
      </if>
      <if test="startTime != null" >
        #{startTime,jdbcType=TIMESTAMP},
      </if>
      <if test="stopTime != null" >
        #{stopTime,jdbcType=TIMESTAMP},
      </if>
      <if test="qrid != null" >
        #{qrid,jdbcType=BIGINT},
      </if>
      <if test="customerId != null" >
        #{customerId,jdbcType=BIGINT},
      </if>
      <if test="phoneNum != null" >
        #{phoneNum,jdbcType=VARCHAR},
      </if>
      <if test="description != null" >
        #{description,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        #{type,jdbcType=INTEGER},
      </if>
      <if test="prepayId != null" >
        #{prepayId,jdbcType=VARCHAR},
      </if>
      <if test="sum != null" >
        #{sum,jdbcType=DOUBLE},
      </if>
      <if test="longitudeStart != null" >
        #{longitudeStart,jdbcType=DOUBLE},
      </if>
      <if test="latitudeStart != null" >
        #{latitudeStart,jdbcType=DOUBLE},
      </if>
      <if test="longitudeStop != null" >
        #{longitudeStop,jdbcType=DOUBLE},
      </if>
      <if test="latitudeStop != null" >
        #{latitudeStop,jdbcType=DOUBLE},
      </if>
      <if test="billId != null" >
        #{billId,jdbcType=VARCHAR},
      </if>
      <if test="carId != null" >
        #{carId,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.pythe.pojo.TblPayExample" resultType="java.lang.Integer" >
    select count(*) from tbl_pay
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update tbl_pay
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.date != null" >
        date = #{record.date,jdbcType=TIMESTAMP},
      </if>
      <if test="record.ordernum != null" >
        orderNum = #{record.ordernum,jdbcType=BIGINT},
      </if>
      <if test="record.recordid != null" >
        recordId = #{record.recordid,jdbcType=VARCHAR},
      </if>
      <if test="record.startTime != null" >
        start_time = #{record.startTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.stopTime != null" >
        stop_time = #{record.stopTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.qrid != null" >
        qrId = #{record.qrid,jdbcType=BIGINT},
      </if>
      <if test="record.customerId != null" >
        customer_id = #{record.customerId,jdbcType=BIGINT},
      </if>
      <if test="record.phoneNum != null" >
        phone_num = #{record.phoneNum,jdbcType=VARCHAR},
      </if>
      <if test="record.description != null" >
        description = #{record.description,jdbcType=VARCHAR},
      </if>
      <if test="record.type != null" >
        type = #{record.type,jdbcType=INTEGER},
      </if>
      <if test="record.prepayId != null" >
        prepay_id = #{record.prepayId,jdbcType=VARCHAR},
      </if>
      <if test="record.sum != null" >
        sum = #{record.sum,jdbcType=DOUBLE},
      </if>
      <if test="record.longitudeStart != null" >
        longitude_start = #{record.longitudeStart,jdbcType=DOUBLE},
      </if>
      <if test="record.latitudeStart != null" >
        latitude_start = #{record.latitudeStart,jdbcType=DOUBLE},
      </if>
      <if test="record.longitudeStop != null" >
        longitude_stop = #{record.longitudeStop,jdbcType=DOUBLE},
      </if>
      <if test="record.latitudeStop != null" >
        latitude_stop = #{record.latitudeStop,jdbcType=DOUBLE},
      </if>
      <if test="record.billId != null" >
        bill_id = #{record.billId,jdbcType=VARCHAR},
      </if>
      <if test="record.carId != null" >
        car_id = #{record.carId,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update tbl_pay
    set id = #{record.id,jdbcType=BIGINT},
      date = #{record.date,jdbcType=TIMESTAMP},
      orderNum = #{record.ordernum,jdbcType=BIGINT},
      recordId = #{record.recordid,jdbcType=VARCHAR},
      start_time = #{record.startTime,jdbcType=TIMESTAMP},
      stop_time = #{record.stopTime,jdbcType=TIMESTAMP},
      qrId = #{record.qrid,jdbcType=BIGINT},
      customer_id = #{record.customerId,jdbcType=BIGINT},
      phone_num = #{record.phoneNum,jdbcType=VARCHAR},
      description = #{record.description,jdbcType=VARCHAR},
      type = #{record.type,jdbcType=INTEGER},
      prepay_id = #{record.prepayId,jdbcType=VARCHAR},
      sum = #{record.sum,jdbcType=DOUBLE},
      longitude_start = #{record.longitudeStart,jdbcType=DOUBLE},
      latitude_start = #{record.latitudeStart,jdbcType=DOUBLE},
      longitude_stop = #{record.longitudeStop,jdbcType=DOUBLE},
      latitude_stop = #{record.latitudeStop,jdbcType=DOUBLE},
      bill_id = #{record.billId,jdbcType=VARCHAR},
      car_id = #{record.carId,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.pythe.pojo.TblPay" >
    update tbl_pay
    <set >
      <if test="date != null" >
        date = #{date,jdbcType=TIMESTAMP},
      </if>
      <if test="ordernum != null" >
        orderNum = #{ordernum,jdbcType=BIGINT},
      </if>
      <if test="recordid != null" >
        recordId = #{recordid,jdbcType=VARCHAR},
      </if>
      <if test="startTime != null" >
        start_time = #{startTime,jdbcType=TIMESTAMP},
      </if>
      <if test="stopTime != null" >
        stop_time = #{stopTime,jdbcType=TIMESTAMP},
      </if>
      <if test="qrid != null" >
        qrId = #{qrid,jdbcType=BIGINT},
      </if>
      <if test="customerId != null" >
        customer_id = #{customerId,jdbcType=BIGINT},
      </if>
      <if test="phoneNum != null" >
        phone_num = #{phoneNum,jdbcType=VARCHAR},
      </if>
      <if test="description != null" >
        description = #{description,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        type = #{type,jdbcType=INTEGER},
      </if>
      <if test="prepayId != null" >
        prepay_id = #{prepayId,jdbcType=VARCHAR},
      </if>
      <if test="sum != null" >
        sum = #{sum,jdbcType=DOUBLE},
      </if>
      <if test="longitudeStart != null" >
        longitude_start = #{longitudeStart,jdbcType=DOUBLE},
      </if>
      <if test="latitudeStart != null" >
        latitude_start = #{latitudeStart,jdbcType=DOUBLE},
      </if>
      <if test="longitudeStop != null" >
        longitude_stop = #{longitudeStop,jdbcType=DOUBLE},
      </if>
      <if test="latitudeStop != null" >
        latitude_stop = #{latitudeStop,jdbcType=DOUBLE},
      </if>
      <if test="billId != null" >
        bill_id = #{billId,jdbcType=VARCHAR},
      </if>
      <if test="carId != null" >
        car_id = #{carId,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.pythe.pojo.TblPay" >
    update tbl_pay
    set date = #{date,jdbcType=TIMESTAMP},
      orderNum = #{ordernum,jdbcType=BIGINT},
      recordId = #{recordid,jdbcType=VARCHAR},
      start_time = #{startTime,jdbcType=TIMESTAMP},
      stop_time = #{stopTime,jdbcType=TIMESTAMP},
      qrId = #{qrid,jdbcType=BIGINT},
      customer_id = #{customerId,jdbcType=BIGINT},
      phone_num = #{phoneNum,jdbcType=VARCHAR},
      description = #{description,jdbcType=VARCHAR},
      type = #{type,jdbcType=INTEGER},
      prepay_id = #{prepayId,jdbcType=VARCHAR},
      sum = #{sum,jdbcType=DOUBLE},
      longitude_start = #{longitudeStart,jdbcType=DOUBLE},
      latitude_start = #{latitudeStart,jdbcType=DOUBLE},
      longitude_stop = #{longitudeStop,jdbcType=DOUBLE},
      latitude_stop = #{latitudeStop,jdbcType=DOUBLE},
      bill_id = #{billId,jdbcType=VARCHAR},
      car_id = #{carId,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>