<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.pythe.mapper.TblRecordMapper" >
  <resultMap id="BaseResultMap" type="com.pythe.pojo.TblRecord" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="customer_id" property="customerId" jdbcType="BIGINT" />
    <result column="car_id" property="carId" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="INTEGER" />
    <result column="start_time" property="startTime" jdbcType="TIMESTAMP" />
    <result column="stop_time" property="stopTime" jdbcType="TIMESTAMP" />
    <result column="longitde_start" property="longitdeStart" jdbcType="DOUBLE" />
    <result column="latitude_start" property="latitudeStart" jdbcType="DOUBLE" />
    <result column="longitude_stop" property="longitudeStop" jdbcType="DOUBLE" />
    <result column="latitude_stop" property="latitudeStop" jdbcType="DOUBLE" />
    <result column="amount" property="amount" jdbcType="DOUBLE" />
    <result column="refund_amount" property="refundAmount" jdbcType="DOUBLE" />
    <result column="giving_amount" property="givingAmount" jdbcType="DOUBLE" />
    <result column="manager_id" property="managerId" jdbcType="BIGINT" />
    <result column="type" property="type" jdbcType="INTEGER" />
    <result column="out_trade_no" property="outTradeNo" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, customer_id, car_id, status, start_time, stop_time, longitde_start, latitude_start, 
    longitude_stop, latitude_stop, amount, refund_amount, giving_amount, manager_id, 
    type, out_trade_no
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.pythe.pojo.TblRecordExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from tbl_record
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from tbl_record
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from tbl_record
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.pythe.pojo.TblRecordExample" >
    delete from tbl_record
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.pythe.pojo.TblRecord" >
    insert into tbl_record (id, customer_id, car_id, 
      status, start_time, stop_time, 
      longitde_start, latitude_start, longitude_stop, 
      latitude_stop, amount, refund_amount, 
      giving_amount, manager_id, type, 
      out_trade_no)
    values (#{id,jdbcType=VARCHAR}, #{customerId,jdbcType=BIGINT}, #{carId,jdbcType=VARCHAR}, 
      #{status,jdbcType=INTEGER}, #{startTime,jdbcType=TIMESTAMP}, #{stopTime,jdbcType=TIMESTAMP}, 
      #{longitdeStart,jdbcType=DOUBLE}, #{latitudeStart,jdbcType=DOUBLE}, #{longitudeStop,jdbcType=DOUBLE}, 
      #{latitudeStop,jdbcType=DOUBLE}, #{amount,jdbcType=DOUBLE}, #{refundAmount,jdbcType=DOUBLE}, 
      #{givingAmount,jdbcType=DOUBLE}, #{managerId,jdbcType=BIGINT}, #{type,jdbcType=INTEGER}, 
      #{outTradeNo,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.pythe.pojo.TblRecord" >
    insert into tbl_record
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="customerId != null" >
        customer_id,
      </if>
      <if test="carId != null" >
        car_id,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="startTime != null" >
        start_time,
      </if>
      <if test="stopTime != null" >
        stop_time,
      </if>
      <if test="longitdeStart != null" >
        longitde_start,
      </if>
      <if test="latitudeStart != null" >
        latitude_start,
      </if>
      <if test="longitudeStop != null" >
        longitude_stop,
      </if>
      <if test="latitudeStop != null" >
        latitude_stop,
      </if>
      <if test="amount != null" >
        amount,
      </if>
      <if test="refundAmount != null" >
        refund_amount,
      </if>
      <if test="givingAmount != null" >
        giving_amount,
      </if>
      <if test="managerId != null" >
        manager_id,
      </if>
      <if test="type != null" >
        type,
      </if>
      <if test="outTradeNo != null" >
        out_trade_no,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="customerId != null" >
        #{customerId,jdbcType=BIGINT},
      </if>
      <if test="carId != null" >
        #{carId,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=INTEGER},
      </if>
      <if test="startTime != null" >
        #{startTime,jdbcType=TIMESTAMP},
      </if>
      <if test="stopTime != null" >
        #{stopTime,jdbcType=TIMESTAMP},
      </if>
      <if test="longitdeStart != null" >
        #{longitdeStart,jdbcType=DOUBLE},
      </if>
      <if test="latitudeStart != null" >
        #{latitudeStart,jdbcType=DOUBLE},
      </if>
      <if test="longitudeStop != null" >
        #{longitudeStop,jdbcType=DOUBLE},
      </if>
      <if test="latitudeStop != null" >
        #{latitudeStop,jdbcType=DOUBLE},
      </if>
      <if test="amount != null" >
        #{amount,jdbcType=DOUBLE},
      </if>
      <if test="refundAmount != null" >
        #{refundAmount,jdbcType=DOUBLE},
      </if>
      <if test="givingAmount != null" >
        #{givingAmount,jdbcType=DOUBLE},
      </if>
      <if test="managerId != null" >
        #{managerId,jdbcType=BIGINT},
      </if>
      <if test="type != null" >
        #{type,jdbcType=INTEGER},
      </if>
      <if test="outTradeNo != null" >
        #{outTradeNo,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.pythe.pojo.TblRecordExample" resultType="java.lang.Integer" >
    select count(*) from tbl_record
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update tbl_record
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=VARCHAR},
      </if>
      <if test="record.customerId != null" >
        customer_id = #{record.customerId,jdbcType=BIGINT},
      </if>
      <if test="record.carId != null" >
        car_id = #{record.carId,jdbcType=VARCHAR},
      </if>
      <if test="record.status != null" >
        status = #{record.status,jdbcType=INTEGER},
      </if>
      <if test="record.startTime != null" >
        start_time = #{record.startTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.stopTime != null" >
        stop_time = #{record.stopTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.longitdeStart != null" >
        longitde_start = #{record.longitdeStart,jdbcType=DOUBLE},
      </if>
      <if test="record.latitudeStart != null" >
        latitude_start = #{record.latitudeStart,jdbcType=DOUBLE},
      </if>
      <if test="record.longitudeStop != null" >
        longitude_stop = #{record.longitudeStop,jdbcType=DOUBLE},
      </if>
      <if test="record.latitudeStop != null" >
        latitude_stop = #{record.latitudeStop,jdbcType=DOUBLE},
      </if>
      <if test="record.amount != null" >
        amount = #{record.amount,jdbcType=DOUBLE},
      </if>
      <if test="record.refundAmount != null" >
        refund_amount = #{record.refundAmount,jdbcType=DOUBLE},
      </if>
      <if test="record.givingAmount != null" >
        giving_amount = #{record.givingAmount,jdbcType=DOUBLE},
      </if>
      <if test="record.managerId != null" >
        manager_id = #{record.managerId,jdbcType=BIGINT},
      </if>
      <if test="record.type != null" >
        type = #{record.type,jdbcType=INTEGER},
      </if>
      <if test="record.outTradeNo != null" >
        out_trade_no = #{record.outTradeNo,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update tbl_record
    set id = #{record.id,jdbcType=VARCHAR},
      customer_id = #{record.customerId,jdbcType=BIGINT},
      car_id = #{record.carId,jdbcType=VARCHAR},
      status = #{record.status,jdbcType=INTEGER},
      start_time = #{record.startTime,jdbcType=TIMESTAMP},
      stop_time = #{record.stopTime,jdbcType=TIMESTAMP},
      longitde_start = #{record.longitdeStart,jdbcType=DOUBLE},
      latitude_start = #{record.latitudeStart,jdbcType=DOUBLE},
      longitude_stop = #{record.longitudeStop,jdbcType=DOUBLE},
      latitude_stop = #{record.latitudeStop,jdbcType=DOUBLE},
      amount = #{record.amount,jdbcType=DOUBLE},
      refund_amount = #{record.refundAmount,jdbcType=DOUBLE},
      giving_amount = #{record.givingAmount,jdbcType=DOUBLE},
      manager_id = #{record.managerId,jdbcType=BIGINT},
      type = #{record.type,jdbcType=INTEGER},
      out_trade_no = #{record.outTradeNo,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.pythe.pojo.TblRecord" >
    update tbl_record
    <set >
      <if test="customerId != null" >
        customer_id = #{customerId,jdbcType=BIGINT},
      </if>
      <if test="carId != null" >
        car_id = #{carId,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="startTime != null" >
        start_time = #{startTime,jdbcType=TIMESTAMP},
      </if>
      <if test="stopTime != null" >
        stop_time = #{stopTime,jdbcType=TIMESTAMP},
      </if>
      <if test="longitdeStart != null" >
        longitde_start = #{longitdeStart,jdbcType=DOUBLE},
      </if>
      <if test="latitudeStart != null" >
        latitude_start = #{latitudeStart,jdbcType=DOUBLE},
      </if>
      <if test="longitudeStop != null" >
        longitude_stop = #{longitudeStop,jdbcType=DOUBLE},
      </if>
      <if test="latitudeStop != null" >
        latitude_stop = #{latitudeStop,jdbcType=DOUBLE},
      </if>
      <if test="amount != null" >
        amount = #{amount,jdbcType=DOUBLE},
      </if>
      <if test="refundAmount != null" >
        refund_amount = #{refundAmount,jdbcType=DOUBLE},
      </if>
      <if test="givingAmount != null" >
        giving_amount = #{givingAmount,jdbcType=DOUBLE},
      </if>
      <if test="managerId != null" >
        manager_id = #{managerId,jdbcType=BIGINT},
      </if>
      <if test="type != null" >
        type = #{type,jdbcType=INTEGER},
      </if>
      <if test="outTradeNo != null" >
        out_trade_no = #{outTradeNo,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.pythe.pojo.TblRecord" >
    update tbl_record
    set customer_id = #{customerId,jdbcType=BIGINT},
      car_id = #{carId,jdbcType=VARCHAR},
      status = #{status,jdbcType=INTEGER},
      start_time = #{startTime,jdbcType=TIMESTAMP},
      stop_time = #{stopTime,jdbcType=TIMESTAMP},
      longitde_start = #{longitdeStart,jdbcType=DOUBLE},
      latitude_start = #{latitudeStart,jdbcType=DOUBLE},
      longitude_stop = #{longitudeStop,jdbcType=DOUBLE},
      latitude_stop = #{latitudeStop,jdbcType=DOUBLE},
      amount = #{amount,jdbcType=DOUBLE},
      refund_amount = #{refundAmount,jdbcType=DOUBLE},
      giving_amount = #{givingAmount,jdbcType=DOUBLE},
      manager_id = #{managerId,jdbcType=BIGINT},
      type = #{type,jdbcType=INTEGER},
      out_trade_no = #{outTradeNo,jdbcType=VARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
        <select id="selectPreRecordPrimaryKey" resultMap="BaseResultMap"> 
      
       SELECT * FROM tbl_record WHERE customer_id=#{0} AND car_id= #{1} ORDER BY START_time DESC LIMIT 1
	</select>
</mapper>