<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.pythe.mapper.TblTimerMapper" >
  <resultMap id="BaseResultMap" type="com.pythe.pojo.TblTimer" >
    <id column="timeId" property="timeid" jdbcType="VARCHAR" />
    <result column="finished" property="finished" jdbcType="INTEGER" />
    <result column="startTime" property="starttime" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    timeId, finished, startTime
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.pythe.pojo.TblTimerExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from tbl_timer
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from tbl_timer
    where timeId = #{timeid,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from tbl_timer
    where timeId = #{timeid,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.pythe.pojo.TblTimerExample" >
    delete from tbl_timer
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.pythe.pojo.TblTimer" >
    insert into tbl_timer (timeId, finished, startTime
      )
    values (#{timeid,jdbcType=VARCHAR}, #{finished,jdbcType=INTEGER}, #{starttime,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.pythe.pojo.TblTimer" >
    insert into tbl_timer
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="timeid != null" >
        timeId,
      </if>
      <if test="finished != null" >
        finished,
      </if>
      <if test="starttime != null" >
        startTime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="timeid != null" >
        #{timeid,jdbcType=VARCHAR},
      </if>
      <if test="finished != null" >
        #{finished,jdbcType=INTEGER},
      </if>
      <if test="starttime != null" >
        #{starttime,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.pythe.pojo.TblTimerExample" resultType="java.lang.Integer" >
    select count(*) from tbl_timer
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update tbl_timer
    <set >
      <if test="record.timeid != null" >
        timeId = #{record.timeid,jdbcType=VARCHAR},
      </if>
      <if test="record.finished != null" >
        finished = #{record.finished,jdbcType=INTEGER},
      </if>
      <if test="record.starttime != null" >
        startTime = #{record.starttime,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update tbl_timer
    set timeId = #{record.timeid,jdbcType=VARCHAR},
      finished = #{record.finished,jdbcType=INTEGER},
      startTime = #{record.starttime,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.pythe.pojo.TblTimer" >
    update tbl_timer
    <set >
      <if test="finished != null" >
        finished = #{finished,jdbcType=INTEGER},
      </if>
      <if test="starttime != null" >
        startTime = #{starttime,jdbcType=VARCHAR},
      </if>
    </set>
    where timeId = #{timeid,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.pythe.pojo.TblTimer" >
    update tbl_timer
    set finished = #{finished,jdbcType=INTEGER},
      startTime = #{starttime,jdbcType=VARCHAR}
    where timeId = #{timeid,jdbcType=VARCHAR}
  </update>
  
  <update id="paymentOrderScan" parameterType="Date">
		CALL pr_status2(#{date});
	</update>
	
	
</mapper>